dbbackups
postgis-data
**/*.pdf
**.DS_Store
credentials

.idea
.python-version

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Downloads
*.zip

PostGIS/pgdata
PostGIS/data
**.ipynb_checkpoints

venv

*.env

postgres/
.vscode/configurationCache.log .vscode/dryrun.log .vscode/targets.log
logs/
analysis/storage/population_grid_raw
grid/population_source
.dropbox
ncc.ovpn

InputData
tmp

tests/data
*.log

landuse/source_files
env-geovarcalcualtor
*.tif
datatransfer

SGIS/new_source_data
out/jgg_centroid/landuse_2000.csv
out/jgg_centroid/landuse_2005.csv
out/jgg_centroid/landuse_2015.csv
out/jgg_centroid/landuse_2020.csv
out/jgg_centroid/landuse_2010.csv
out/jgg_centroid/emission_2000.csv
out/jgg_centroid/emission_2005.csv
out/jgg_centroid/ndvi_2020.csv
out/jgg_centroid/ndvi_2000.csv
out/jgg_centroid/ndvi_2005.csv
out/jgg_centroid/ndvi_2010.csv
out/jgg_centroid/emission_2015.csv
out/jgg_centroid/emission_2020.csv
out/jgg_centroid/ndvi_2015.csv
out/jgg_centroid/emission_2010.csv
out/jgg_centroid/population_2000.csv
out/jgg_centroid/population_2005.csv
out/jgg_centroid/population_2015.csv
out/jgg_centroid/population_2010.csv
out/jgg_centroid/population_2020.csv
out/jgg_centroid/new_ga_2005.csv
out/jgg_centroid/new_ga_2000.csv
out/jgg_centroid/new_ga_2015.csv
out/jgg_centroid/new_ga_2020.csv
out/jgg_centroid/new_ga_2010.csv
out/jgg_centroid/new_cp_bnu_2000.csv
out/jgg_centroid/new_cp_bnu_2005.csv
out/jgg_centroid/new_cp_bnu_2015.csv
out/jgg_centroid/new_cp_bnu_2020.csv
out/jgg_centroid/new_cp_bnu_2010.csv
out/jgg_centroid/new_cp_bem_2000.csv
out/jgg_centroid/new_cp_bem_2005.csv
out/jgg_centroid/new_cp_bem_2010.csv
out/jgg_centroid/new_cp_bem_2015.csv
out/jgg_centroid/new_cp_bem_2020.csv
out/jgg_centroid/new_h_gb_2005.csv
out/jgg_centroid/new_h_gb_2000.csv
out/jgg_centroid/new_h_gb_2010.csv
out/jgg_centroid/new_h_gb_2015.csv
out/jgg_centroid/new_h_gb_2020.csv
out/jgg_centroid/new_h_yr_2000.csv
out/jgg_centroid/new_h_yr_2005.csv
out/jgg_centroid/new_h_yr_2010.csv
out/jgg_centroid/new_h_yr_2015.csv
out/jgg_centroid/new_h_yr_2020.csv
out/jgg_centroid/traffic_2005.csv
out/jgg_centroid/traffic_2010.csv
out/jgg_centroid/traffic_2020.csv
out/jgg_centroid/traffic_2015.csv
out/jgg_centroid/relative_dem
out
landuse_dump
